@font-face {
    font-family: poppins-regular;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: semi-bold;
    src: url(fonts/Poppins-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --bg-body: #ECF1F4;
    --bg-white: #FFFFFF;
    --bg-blue: #1F3779;
    --bg-black: #404145;
    --bg-ash: #A5A5A5;
    --bg-yellow: #FF9800;
}


/* Reusable Class */

p {
    color: var(--bg-ash);
}

.mt-6 {
    margin-top: 6rem;
}

.sec-title {
    font-size: 3rem;
    font-family: semi-bold;
    color: #2F3032;
}

.dropdown-divider {
    border-top: 2px solid #DDE3EA
}

body {
    background-color: var(--bg-body);
    font-size: 1.6rem;
    color: var(--bg-black);
    font-family: poppins-regular;
}


/* Bootstrap default dropdown hidden */

.dropdown-toggle::after {
    display: none;
}


/* Buttton Style */

.btn {
    font-size: 1.4rem;
    color: var(--bg-white);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.view-btn {
    background: var(--bg-blue);
}

.view-btn:hover {
    background: #192e68;
    color: var(--bg-white);
}

.view-u-profile {
    background: var(--bg-black);
}

.view-u-profile:hover {
    background: var(--bg-blue);
    color: var(--bg-white);
}

.header-cont {
    background-color: var(--bg-white);
    box-shadow: 0px 4px 10px #E0E5E8;
}

.brand-brdr {
    height: 14.2rem;
    width: 4.3rem;
    background-color: var(--bg-blue);
}

.navbar {
    background-color: var(--bg-white);
}

.navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbarCollapse ul li:hover a {
    color: var(--bg-blue) !important;
}

.navbar-brand {
    font-size: 3rem;
    color: var(--bg-black);
    font-family: poppins-bold;
}

.brand-brdr {
    height: 4rem;
    width: .5rem;
    background-color: var(--bg-blue);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.6rem;
    color: var(--bg-black) !important;
    font-weight: 400;
}

.dropdown-menu {
    font-size: 1.6rem;
}

.notify-menu {
    width: 70rem;
    height: 50rem;
    overflow-y: scroll;
    left: -350px;
    border: none;
    box-shadow: 1px 0px 5px 0px #888888;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.notify-menu::-webkit-scrollbar {
    display: none;
}

.order-num {
    color: var(--bg-blue);
}

.notify-list small {
    color: var(--bg-ash);
}

.pro-img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* profile image background set */

.pro-img:nth-child(1) {
    background: url("img/Ellipse\ 37.jpg") no-repeat center center;
    background-size: cover;
}

.user-img {
    height: 4.5rem;
    width: 4.5rem;
    overflow: hidden;
    border: 2px solid #08C277;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* profile image background set */

.user-img:nth-child(1) {
    background: url("img/Rectangle\ 551\ copy.jpg") no-repeat center center;
    background-size: cover;
}

.cat-list {
    color: var(--bg-ash);
    border-radius: 30px;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.cat-list i {
    font-size: 3rem;
}

.cat-list:hover {
    background-color: var(--bg-blue) !important;
    color: var(--bg-white);
}

.cat-list:hover svg {
    fill: #fff !important;
    color: #fff !important;
}

.src-wrap-box {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.search-inpt {
    outline: none;
}

.card-img {
    height: 15rem;
    font-size: 1.4rem;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.card-body-r {
    box-shadow: 0px 4px 17px #c1c4c7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-img1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/Rectangle\ 2411\ copy.jpg) no-repeat center center;
    background-size: cover;
}

.c-rating i {
    color: var(--bg-yellow);
}

.bottom-part {
    left: 1rem;
    bottom: 1rem;
    width: 90%;
}

.side-part {
    top: 2rem;
    right: 1rem;
}

.footer-container {
    background: var(--bg-blue);
    color: var(--bg-white);
}


/* ==== Responsive Responsive=== */

@media screen and (max-width: 992px) {
    .notify-menu {
        left: -500px;
    }
}

@media screen and (max-width: 768px) {
    .notify-menu {
        width: 55rem !important;
    }
}

@media screen and (max-width: 576px) {
    .notify-menu {
        width: 34rem !important;
    }
    .navbar-brand {
        font-size: 2rem;
    }
    .brand-brdr {
        height: 2rem;
    }
    .noti-details {
        width: 15rem;
    }
    .card-deck-r {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 350px) {
    .notify-menu {
        width: 30rem !important;
    }
}